:root {
    --primary: #b9eafa;
    --accent: #297e99;
    --background: white;
    --text-dark: #111;
    --text-light: #686868;
    --button: #39add2;
    --radius: 20px;
    --font-family-base: Rubik, sans-serif;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  
  body {
    font-family: var(--font-family-base), serif;
    background-color: var(--background);
    color: var(--text-dark);
  }
  
  main {
    padding: 0px 5%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding: 8px 10%;
    background-color: white;
  }
  
  .header-logo img {
    max-width: 120px;
  }
  
  .header-menu-list {
    display: flex;
    gap: 1.5rem;
    list-style: none;
  }
  
  .header-menu-link {
    text-decoration: none;
    color: var(--text-dark);
    font-weight: 500;
  }
  
  .footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 40px;
    background-color: #B9EAFA;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: auto;
  }
  
  .footer img {
    max-width: 150px;
    height: auto;
  }
  
  .footer-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 20px;
  }
  
  .footer-text h4 {
    margin-bottom: 10px;
  }
  
  .footer-text a {
    text-decoration: none;
    color: #333;
  }